
<div class="hotel-login">
<h1> Welcome back </h1>
<%= form_tag '/login' do %>
<div>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: "alert alert-info" %>
  <% end %>
</div>

<%= form_tag '/login' do %>

  <p>
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
 </h4>
 <h4>
    <%= label_tag :password %><br />
    <%= password_field_tag :password %>
 </h4>
  <p class="button"><%= submit_tag "Submit", :class => "btn btn-default" %></p>
<% end %>


<%= button_to "Register", signup_path, method: "get", :class => "btn btn-default" %>
<% end %>
</div>
