<!-- Currently not working -->
<div>
  <%= @menu.name %>
  <%= @menu.description %>
</div>

<div>
  <h4>Menu:</h4>
  <%= form_for :menu, url: edit_menu_path do |f| %>
    <p>
      <%= f.label :name  %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :description %>
      <%= f.text_field :description %>
    </p>


    <p class="button"><%= f.submit "Submit" %></p>
  <% end %>
</div>
