<div>
  <h2>Welcome <%= @guest.first_name %>!</h2>
  <h4>Are you living Luxe today?</h4>
</div>

</br>

<div>
  <h3>Our Menu:</h3>
  <% @menu.each do |menu_item| %>
  <h4></b><%= menu_item.name %></b></h4>
  <h4><%= menu_item.description %></h4>
  <% end %>
</div>

</br>

<div>
  <h3>Requested Services:</h3>
  <% @services.each do |service| %>
    <p><%= service.title %></p>
    <p><%= service.special_request %></p>
    <p><%= service.starts_at_date %></p>
    <p><%= service.starts_at_time %></p>
  <% end %>
</div>

</br>

<div>
  <h4>Services:</h4>
  <%= form_for :service, url: services_path do |f| %>
    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :starts_at_date %>
      <%= f.date_select :starts_at_date %>
    </p>
    <p>
      <%= f.label :starts_at_time %>
      <%= f.time_select :starts_at_time %>
    </p>
    <p>
      <%= f.label :special_request %>
      <%= f.text_area :special_request %>
    </p>
    <p class="button"><%= f.submit "Submit" %></p>
  <% end %>
</div>


