<div class="whole-page">
<div class="logout">
  <%= link_to "Log out", logout_path %>
</div>
    <h1 id="tag">Live LUXE at The W </h1>

</div>

<div class="hotel-image">
</div>
  <div class="hotel-show-page">
    <div class="hotel-info">
      <h2><%= @hotel.name %></h2>
      <h3><%= @hotel.address %></h3>
      <h3><%= @hotel.amenities %></h3>
    </div>
    <div class="new-guest-form">
    <h4>New Guest:</h4>
    <%= form_for :guest, url: guests_path do |f| %>
      <p>
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name %>
      </p>
      <p>
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name %>
      </p>
       <p>
        <%= f.label :phone %><br />
        <%= f.text_field :phone %>
      </p>
      <p>
        <%= f.label :room_number %><br />
        <%= f.text_field :room_number %>
      </p>

      <p>
        <%= f.label :email %><br />
        <%= f.text_field :email %>
      </p>
     <%= f.submit "Submit", :class => "btn btn-default" %>

    <% end %>
  </div>

 <input type="button" class="calendar_button btn btn-default" value="Show Calendar">
  <div class="calendar">
    <%= render "calendar" %>
  </div>

  <div>
    <% @guests.each do |guest| %>
      <p><b>Room Number: </b><%= guest.room_number %></p>
      <p><b>Name: </b><%= guest.first_name %> <%= guest.last_name %></p>
      <p><b>Phone: </b><%= guest.phone %></p>
    <% end %>
  </div>
  <div class="bottom-bar">
  </div>
</div>

